@tailwind base;
@tailwind components;
@tailwind utilities;

@import "aos/dist/aos.css";

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: #E8E8E8;
		--primary-foreground: #0A0A0A;
		--color-primary-50: #FFFFFF;
		--color-primary-100: #F9F9F9;
		--color-primary-200: #F3F3F3;
		--color-primary-300: #E8E8E8;
		--color-primary-400: #D1D1D1;
		--color-primary-500: #B9B9B9;
		--color-primary-600: #A2A2A2;
		--color-primary-700: #8B8B8B;
		--color-primary-800: #737373;
		--color-primary-900: #5C5C5C;
		

		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--color-secondary-50: 230, 242, 255;
		--color-secondary-100: 204, 229, 255;
		--color-secondary-200: 153, 203, 255;
		--color-secondary-300: 102, 178, 255;
		--color-secondary-400: 51, 152, 255;
		--color-secondary-500: 0, 127, 255;
		--color-secondary-600: 0, 102, 204;
		--color-secondary-700: 0, 76, 153;
		--color-secondary-800: 0, 51, 102;
		--color-secondary-900: 0, 25, 51;

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--color-accent-50: 255, 242, 230;
		--color-accent-100: 255, 229, 204;
		--color-accent-200: 255, 203, 153;
		--color-accent-300: 255, 178, 102;
		--color-accent-400: 255, 152, 51;
		--color-accent-500: 255, 127, 0;
		--color-accent-600: 204, 102, 0;
		--color-accent-700: 153, 76, 0;
		--color-accent-800: 102, 51, 0;
		--color-accent-900: 51, 25, 0;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 5.9% 10%;
		--radius: 0.5rem;
		--color-1: 0 100% 63%;
		--color-2: 270 100% 63%;
		--color-3: 210 100% 63%;
		--color-4: 195 100% 63%;
		--color-5: 90 100% 63%;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
		--color-1: 0 100% 63%;
		--color-2: 270 100% 63%;
		--color-3: 210 100% 63%;
		--color-4: 195 100% 63%;
		--color-5: 90 100% 63%;
	}
}


@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}

@layer utilities {
	.select-none {
		-webkit-user-select: none;
		user-select: none;
	}
}




.card-rotate-hover {
	transform: rotate(35deg);
	transform-origin: bottom;
	transition: transform 0.3s ease;
}


.card-transition-opacity {
	transition: opacity 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}


.btn-hover-scale {
	transform: scale(1.1);
	transition: transform 300ms ease-in-out;
}


.btn-hover-bg {
	background-color: hsl(var(--primary));
	transition: background-color 300ms ease-in-out;
}


@keyframes blurAnimation {
	0% {
	  filter: blur(5px);
	}
  
	45%,
	55% {
	  filter: blur(0px);
	}
  
	100% {
	  filter: blur(10px);
	}
  }

  .blurx {
	animation: blurAnimation 1s both;
	/* animation-timeline:view();
	-webkit-animation-timeline: view(); */
  }


